<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><%= link_to 'Arthur', inicio_path %></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Início', inicio_path %></li>
						<li><%= link_to 'Controle de Gastos', resumo_mensal_path %></li>
						<li><%= link_to 'Log de Mergulhos', logs_mergulho_path %></li>

					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Editar Lançamento</h2>

					</header>
				</div>
			</section>
			
			</section id="form" class="wrapper">
				<%= form_tag salvar_alteracoes_lancamento_path, method: 'put' do %>
					<%= @lancamento.descricao %>
				<% end %>
			<section>
	</body>


</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script type="text/javascript">
	$(function(){
	    $('.js_adicionar_lancamento').click(function (event) {
	     	var table =  document.getElementById("tabela_novos_lancamentos");
	     	var row = table.insertRow(-1);
	     	var cell1 = row.insertCell(0);
	    	var cell2 = row.insertCell(1);
	    	var cell3 = row.insertCell(2);
	    	var cell4 = row.insertCell(3);
	    	var cell5 = row.insertCell(4);
	    	var cell6 = row.insertCell(5);

	    	cell1.innerHTML = "<%=j text_field_tag 'lancamentos[]data', Time.now.strftime("%d/%m/%Y"), class: 'js_data' %>";
	    	cell2.innerHTML = "<%=j text_field_tag 'lancamentos[]descricao', nil , placeholder:'Descrição' %>";
	    	cell3.innerHTML = "<%=j select_tag 'lancamentos[]tipo', options_for_select(Lancamento::TIPOS, "Alimentação") %>";
	    	cell4.innerHTML = "<%=j select_tag 'lancamentos[]pagamento', options_for_select(Lancamento::FORMAS_PAGAMENTO, "Itaú (Débito)") %>";
	    	cell5.innerHTML = "<%=j text_field_tag 'lancamentos[]valor', nil , placeholder:'Valor', class: 'js_currency' %>";
	    	cell6.innerHTML = "<i class='fa fa-times'></i>";
			
			$(".js_data").mask('00/00/0000');
			$(".js_currency").maskMoney({prefix:'R$ ', allowNegative: true, thousands:'', decimal:'.', affixesStay: false});

		});

    });
</script>

