<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><%= link_to 'Arthur', inicio_path %></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Início', inicio_path %></li>
						<li><%= link_to 'Controle de Gastos', resumo_mensal_path %></li>
						<li><%= link_to 'Log de Mergulhos', logs_mergulho_path %></li>

					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Resumo Mensal</h2>
						<% case Time.now.month %>
							<% when 1 %>
								<p>Janeiro, <%= Time.now.year %></p>
							<% when 2 %>
								<p>Fevereiro, <%= Time.now.year %></p>
							<% when 3 %>
								<p>Março, <%= Time.now.year %></p>
							<% when 4 %>
								<p>Abril, <%= Time.now.year %></p>
							<% when 5 %>
								<p>Maio, <%= Time.now.year %></p>
							<% when 6 %>
								<p>Junho, <%= Time.now.year %></p>
							<% when 7 %>
								<p>Julho, <%= Time.now.year %></p>
							<% when 8 %>
								<p>Agosto, <%= Time.now.year %></p>
							<% when 9 %>
								<p>Setembro, <%= Time.now.year %></p>
							<% when 10 %>
								<p>Outubro, <%= Time.now.year %></p>
							<% when 11 %>
								<p>Novembro, <%= Time.now.year %></p>
							<% when 12 %>
								<p>Dezembro, <%= Time.now.year %></p>
						<% end %>
					</header>

					<div class="container">
						<%= button_to 'Fazer Lançamentos', novos_lancamentos_path, :class=>"button special",       :method=>"get"%>
					</div>

					<div class="table-wrapper">
					<table class="alt" style="text-align: center;">
						<thead>
							<tr>
								<th><h4 style="text-align: center;">Recebimentos</h4></th>
								<th><h4 style="text-align: center;">Gasto Diário Médio</h4></th>
								<th><h4 style="text-align: center;">Gasto Total</h4></th>
								<th><h4 style="text-align: center;">Saldo</h4></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>R$880.00</td>
								<td>R$20.00</td>
								<td>R$20.00</td>
								<td>R$860.00</td>
							</tr>
					</table>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Dia</th>
									<th>Descrição</th>
									<th>Tipo</th>
									<th>Pagamento</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>
								<% @lancamentos.each do |lancamento| %>
									<tr>
										<td><%= lancamento.data.strftime("%d/%m/%Y") %></td>
										<td><%= lancamento.descricao %></td>
										<td><%= lancamento.tipo %></td>
										<td><%= lancamento.pagamento %></td>
										<td><%= lancamento.valor %></td>
									</tr>
								<% end %>
							</tbody>
						</table>

				</div>
			</section>
	</body>
</html>