<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Spatial by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><%= link_to 'Arthur', inicio_path %></strong> Carvalho dos Santos</h1>
				<nav id="nav">
					<ul>
						<li><%= link_to 'Início', inicio_path %></li>
						<li><%= link_to 'Controle de Gastos', resumo_mensal_path %></li>
						<li><%= link_to 'Log de Mergulhos', logs_mergulho_path %></li>

					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Resumo Mensal</h2>
						<br>
						<h4>Período</h4>
						<%= form_tag resumo_mensal_path, method: 'get' do %>
							<div class="row uniform 100%">
								<div>
									<%= select_tag 'mes', options_for_select(Lancamento::MESES, params['mes']) %>
								</div>
								<div>
									<%= select_tag 'ano', options_for_select(Lancamento::ANOS, params['ano']) %>
								</div>
								<div>
									<%=	%>
								</div>
							</div>
						<% end %>
							
					</header>

					<div class="container">
						<%= button_to 'Fazer Lançamentos', novos_lancamentos_path, :class=>"button",       :method=>"get"%>
					</div>

					<div class="table-wrapper">
					<table class="alt" style="text-align: center;">
						<thead>
							<tr>
								<th><h4 style="text-align: center;">Recebimentos</h4></th>
								<th><h4 style="text-align: center;">Gasto Diário Médio</h4></th>
								<th><h4 style="text-align: center;">Gasto Total</h4></th>
								<th><h4 style="text-align: center;">Saldo</h4></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>R$ <%= "%.2f" % @recebimento_total %></td>
								<td>R$ <%= "%.2f" % (@gasto_total/Time.now.day) %></td>
								<td>R$ <%= "%.2f" % @gasto_total %></td>
								<td>R$ <%= "%.2f" % (@recebimento_total - @gasto_total) %></td>
							</tr>
					</table>

					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th style="width: 15%">Data</th>
									<th style="width: 30%">Descrição</th>
									<th style="width: 15%">Tipo</th>
									<th style="width: 15%">Pagamento</th>
									<th style="width: 15%">Valor</th>
									<th style="width: 10%"></th>
								</tr>
							</thead>
							<tbody>
									<% @lancamentos.each do |lancamento| %>
										<tr>
											<td><%= lancamento.data.strftime("%d/%m/%Y") %></td>
											<td><%= lancamento.descricao %></td>
											<td><%= lancamento.tipo %></td>
											<td><%= lancamento.pagamento %></td>
											<td>R$ <%= "%.2f" % lancamento.valor %></td>
											<%= form_tag editar_lancamento_path, method: 'get' do%>
												<%= hidden_field_tag 'lancamento_id', lancamento.id %>
												<td>
													<%= submit_tag 'Editar', class:'button small'  %>
												</td>
											<% end %>	
										</tr>
									<% end %>
							</tbody>
						</table>

				</div>
			</section>
	</body>
</html>